@model IEnumerable<VideoRental.Web.Models.DTO.FilmeDTO>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <!--datatable-->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />

}

@section Scripts{
    <script>
        function Deletar(id) {
            debugger;
            $(".btnApagar").on('click', function () {
                $.ajax({
                    url: "/Filme/Deletar?id=" + id,
                    method: "DELETE",
                    success: function (data) {
                        location.reload(true);
                    }
                });
            });
        }
    </script>

    <!--Para o DataTable-->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese.json"></script>
    <script>
        $('#dtAcomp').DataTable({
            "language": {
                "sEmptyTable": "Não foi encontrado nenhum registro",
                "sLoadingRecords": "A carregar...",
                "sProcessing": "A processar...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Não foram encontrados resultados",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "sInfoFiltered": "(filtrado de _MAX_ registros no total)",
                "sInfoPostFix": "",
                "sSearch": "Procurar:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Primeiro",
                    "sPrevious": "Anterior",
                    "sNext": "Seguinte",
                    "sLast": "Último"
                },
            }
        });
    </script>

}



<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a class="btn btn-success" href=@Url.Action("CadastrarFilme","Filme")><i class="mdi mdi-movie"></i> Cadastrar Filme</a>
            </p><br />
            <div class="card card-default">
                <div class="card-header card-header-border-bottom">
                    <h2>Gerênciar Filmes</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Index" method="get">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                Buscar por Nome: <input type="text" value="" name="searchName" />
                                <input type="submit" class="btn btn-info btn-sm" value="Buscar" /> |
                                <a asp-action="Index">Remove Filtro</a>
                            </div>
                            <div class="form-group col-md-6">
                                Buscar por Genêro: <input type="text" value="" name="searchGender" />
                                <input type="submit" class="btn btn-info btn-sm" value="Buscar" /> |
                                <a asp-action="Index">Remove Filtro</a>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="table-responsive">
                        <table id="dtAcomp" class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Ano</th>
                                    <th>Gênero</th>
                                    <th>Classificação</th>
                                    <th>Duração</th>
                                    <th class="text-right">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Nome</td>
                                        <td>@item.Ano</td>
                                        <td>@item.Genero</td>
                                        <td>@item.Classificacao</td>
                                        <td>@item.Duracao</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href=@Url.Action("EditarFilme","Filme", new { id = item.Id })><i class="mdi mdi-border-color"></i> Edit</a>
                                                    <a class="dropdown-item" href="#" onclick="Deletar('@item.Id')" data-toggle="modal" data-target="#delete_movie"><i class="mdi mdi-link-off"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="delete_movie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deletar Filme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja deletar esse filme?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-pill" data-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-danger btn-pill btnApagar">Deletar</button>
            </div>
        </div>
    </div>
</div>